<!DOCTYPE html>
<html>
  <head>
    <title>Desmond Mission Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link href={{ url_for('static', filename='./bower_components/bootstrap/dist/css/bootstrap.min.css') }} rel="stylesheet" media="screen"-->
    <!--link href={{ url_for('static', filename='main.css') }} rel="stylesheet" media="screen"-->
  </head>
  <body>
    <h1>Desmond Dashboard</h1>
    <div class="container">
    </div>
    <div id="chart"></div>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <!-- script src={{ url_for('static', filename='./bower_components/bootstrap/dist/js/bootstrap.min.js') }}></script-->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script defer="defer" src={{ url_for('static', filename='main.js') }}></script>
  </body>
</html>
